*{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.head{
    width:50%;
    float: left;
}
.head .info{
   
    text-align: right;
    padding: 10px;
    margin-right: 70px;
}

nav{
    background-color: rgb(184, 10, 10);
 
}
.navbar {
    width: 100%;
    background-color: rgb(184, 10, 10);
    overflow: auto;
    margin-left:120px ;
  }
  
  .navbar a {
    text-transform: uppercase;
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  
  .navbar a:hover {
    background-color: #000;
  }
  
  .active {
    background-color: #000000;
  }

.rank img{
    text-align: center;
    margin-left: 70px;
    margin-right: 20px;
}
.tablink {
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-weight: 100;
    height: 50px;
    font-size: 14px;
    width: 16.65%;
    text-transform: uppercase;
}
.buttons #b1{
    background-color: rgb(204, 204, 19);
}
.buttons #b2{
    background-color: rgb(255, 115, 0);
}
.buttons #b3{
    background-color: rgb(0, 102, 255);
}
.buttons #b4{
    background-color: rgb(255, 208, 0);
}
.buttons #b5{
    background-color: rgb(9, 156, 9);
}
.buttons #b6{
    background-color: rgb(219, 57, 28);
}

.title{
    margin-top: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color:rgb(13, 8, 73)
}
.title2{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color:rgb(13, 8, 73)
}
.title span{
    color: rgb(167, 14, 9);

}

.section{
    background-color: #e4e4e4;
    padding-left:25px ;
    padding-bottom: 10px;
}
.sec{
    float: left;
    margin: 10px;
    background-color: #fff;
    box-shadow: 5px 10px 7px #7e7e7e;
}
.sec1{
    width:23%;
}
.sec2{
    width:48%;
}
.sec3{
    width:24%;
}
.sec .top{
    background-color: #941010;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-weight: lighter;
}
.sec .tablink{
    width: 25%;
    padding: none;
}
.vc{
    text-align: center;
    font-size: 12px;
    padding-bottom: 8px;
}

.sec p{
    padding: 20px;
}

.sec ul {
    list-style: inside;
    padding: 20px;
  
}
.sec ul li{
    padding: 20px;
}
.sec ul li span{
    color: #941010;
}

.sec2 button {
    background-color:#868686
}
.sec2 #b1{
    background-color: #941010
}
.section2{
    background-color:#e4e4e4;
}
.section2 .tablink{
    background-color: #868686;
    width: 20%;
    margin-left: 0;
}
.section2 #b1{
    background-color: #941010;
}
.inno{
    padding: 20px;
   font-size: 16px;
}
.parallax {
 
    background-image: url("img/parallax.jpg");
    min-height: 200px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    

}
.parallax .s1{
    float: left;
    position: relative;
    width: 23%;
    align-items: center;
    text-align: center;
  color: #fff;
  top:40px;
  left:50px;
  vertical-align: middle;
}
.s1 i{
   font-size: 40px;
   margin-bottom: 5px;
}
.s1 span{
    font-size: 45px;
    font-weight: bolder;
}
.gallery{
    margin: 30px;
    position: relative;
    left:4%;
}
.univ img{
    position: relative;
    width: 70%;
    left:15%
}
.gov img{
    width: 95%;
}
.f-t{
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #ebe8e8;
}
.f-b{
    background-color: rgb(10, 27, 73);
    color: #fff;
    padding-right: 9%;
    padding-left: 9%;
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
   text-align: justify;
}
.f-b span{
    text-transform: uppercase;
}
.f-t{
    position: relative;
    align-items: center;
}
.fs{
    float: left;
    width: 20%;
    padding:20px
}
.fs img{
    width: 160px;
    position: relative;
    left:30%;
}
.footer-social-icons {
    width: 350px;
    display:block;
    margin: 0 auto;
    
   
}
.social-icon {
    color: #fff;
    margin-top: 20px;
    left:30%;
    color: #180766;
    font-size: 20px;
    position: relative;
}
ul.social-icons {
    margin-top: 40px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
    padding-right: 15px;
}
.social-icons a {
    
    color: rgb(27, 8, 95);
    text-decoration: none;
}
.fs h3{
    color: #313131;
    margin-bottom: 7px;
}
.fs li{
    margin-bottom: 7px;
    margin-top: 7px;
    color: #777777;
}
.fs p{
    color: #777777;
    margin-top: 7px;
}
.inno p{
    width: 73%;
}
.inno img{
    width: 400px;
    float: right;
}